<section ng-controller="VragenController" >

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="/BeheerLessen">Beheer Lessen</a>
       <a class="navbar-brand" >{{les.naam}}</a>
     </div>
     <ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ leerkracht.firstname }}</a></li>
  <li><a logout href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>
        </ul>
      </div>
  </nav>

   <div class="table-responsive">
       <table class="table table-hover ">
         <thead>
           <tr>
               <th> Naam</th>
               <th> Soort</th>
               <th> Aangemaakt</th>
               <th > Actie</th>
           </tr>
         </thead>
         <tbody>

           <tr ng-repeat="vraag in les.vragen">
               <td>{{ vraag.vraag }}</td>
               <td>{{ vraag.soort }}</td>
               <td>{{ vraag.aangemaakt }}</td>
               <td>
                   <div class="btn-group btn-group-sm" role="group">

                  <button ng-click="bewerkLes(vraag._id)" class="btn btn-warning">
                     <i class="glyphicon glyphicon-pencil"> </i>
                  </button>

                  <button ng-click="deleteVraag(vraag._id)" class="btn btn-danger">
                     <i class="glyphicon glyphicon-remove"> </i>
                  </button>
                </div>
              </td>

           </tr>
         </tbody>
         <tfoot>
           <tr>
               <td ><input type="text" ng-model="vraag" /></td>
               <td>
                 <select class="form-control" id="VraagSoort">
                   <option value="" disabled selected>Soort</option>
                   <option value="open" >Open</option>
                   <option value="meerkeuze">Meerkeuze</option>
                 </select>
                </td>
                <td>
                   <div growl></div>
                </td>
               <td><button ng-click="addVraag()"> Voeg toe</button></td>
             </tr>
           </tfoot>
</table>
</div>

</section>
