<section ng-controller="BewerkVragenController" >

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="/BeheerLessen">Beheer Lessen</a>
       <a class="navbar-brand" href="/BeheerVragen/{{lesID}}">Beheer Vragen</a>
     </div>
     <ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ leerkracht.firstname }}</a></li>
  <li><a logout href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>
        </ul>
      </div>
  </nav>

<div>
Vraag <input type="text" ng-model= "newVraag" >

<button ng-click="editVraag()">Bewaar nieuwe vraag </button>
</div>

<div>
Soort
<select class="form-control" id="VraagSoort">
    <option value="" disabled selected>Soort</option>
    <option value="open" >Open</option>
    <option value="meerkeuze">Meerkeuze</option>
     <option value="cloud">Cloud</option>
  </select>
  <button ng-click="editVraagSoort()">Bewaar nieuwe soort </button>

</div>




<div growl></div> <!--error message-->






</section>
