<section ng-controller="BewerkVragenController" >

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/BeheerLessen">Beheer Lessen</a>
       <a class="navbar-brand" href="/BeheerVragen/{{lesID}}">Beheer Vragen</a>
     </div>
     <div id="myNavbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>{{ leerkrachtNaam}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><button class="buttonPassword"  ng-bootbox-title="Wijzig je Wachtwoord"  ng-bootbox-custom-dialog  ng-bootbox-custom-dialog-template="views/DialogPassword.html">
                    wachtwoord wijzigen</button></li>
              </ul>
            </li>
            <li><a logout href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>
          </ul>
</div>
      </div>
  </nav>


  <form class="form-inline">
  <div class="form-group">
  <label>Vraag</label>
  <input type="text" class="form-control" ng-model= "newVraag">
  <button ng-click="editVraag()" class="btn btn-default btn-sm">Bewaar nieuwe vraag </button>
  </div>
  <br></br>
  <div class="form-group">
  <label>Video of image</label>
  <p class="help-block">Plak hier afbeelding of video link</p>
  <p class="help-block">voorbeeld video link: https://www.youtube.com/watch?v=_8LvK23wY0A</p>
  <input type="text" class="form-control" ng-model= "newMedia">
  <select class="form-control" id="MediaSoort">
      <option value="" disabled selected>Soort</option>
      <option value="video" >video</option>
      <option value="afbeelding">afbeelding</option>
    </select>
  <button ng-click="addMedia()" class="btn btn-default btn-sm">Bewaar media</button>
  </div>
  <br></br>
  <div class="form-group">
  <label>Soort</label>
  <select class="form-control" id="VraagSoort">
      <option value="" disabled selected>Soort (Huidige soort is {{vraag.soort}})</option>
      <option value="open" >Open</option>
      <option value="meerkeuze">Meerkeuze</option>
       <option value="cloud">Cloud</option>
    </select>
  <button ng-click="editVraagSoort()" class="btn btn-default btn-sm">Bewaar nieuwe soort </button>
</div>
  </form>






  <div class="table-responsive" ng-show="multi" class="ng-hide">
      <table class="table table-hover ">
        <thead>
        <tr>
          <th>Oplossing </th>
          <th>Actie </th>
        </tr>
      </thead>

        <tbody>
          <tr ng-repeat="opl in vraag.oplossingen">
              <td>{{ opl.oplossing }}</td>
              <td>
                 <button ng-click="giveID(opl._id)" class="btn btn-danger" ng-bootbox-title="{{opl.oplossing}}" ng-bootbox-custom-dialog="Ben je zeker dat je deze oplossing wil verwijderen?" ng-bootbox-buttons="customButtonDelete">
                    <i class="glyphicon glyphicon-remove"> </i>
                 </button>
               </div>
             </td>

          </tr>
        </tbody>
        <tfoot>
          <tr>
              <td >
                <div class="col-xs-4">
                     <input class="form-control" type="text" ng-model="Oplossing" />
                 </div>
               </td>
              <td><button ng-click="addOplossing()" class="btn btn-default btn-sm"> Voeg toe</button></td>
            </tr>
          </tfoot>
  </table>
  </div>




<div growl></div> <!--error message-->







</section>
