<section ng-controller="BewerkVragenController" >

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="/BeheerLessen">Beheer Lessen</a>
       <a class="navbar-brand" href="/BeheerVragen/{{lesID}}">Beheer Vragen</a>
     </div>
     <ul class="nav navbar-nav navbar-right">
  <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ leerkracht.firstname }}</a></li>
  <li><a logout href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log uit</a></li>
        </ul>
      </div>
  </nav>


Vraag <input type="text" ng-model= "newVraag" >

<button ng-click="editVraag()">Bewaar nieuwe vraag </button>


<div growl></div> <!--error message-->






</section>
