<section ng-controller="LeerkrachtController">
  <a href="/"  class="btn btn-default">Home</a>

          <h1 class='col-md-12 text-center'>Leerkracht</h1>
          <div class='col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 login-form-bg'>

          <div growl></div>

        <form ng-submit="login()" method="post"
              style="margin-top:30px;">

                <div class="form-group">
                  <div class="input-group text-center input-group-lg">
                     <span class="input-group-addon" id="basic-addon1">
                        <i class="glyphicon glyphicon-envelope"></i>
                     </span>
                      <input type="text"
                             class="form-control"
                             placeholder="email"
                             ng-model="email"></input>
                  </div>
                </div>

          <div class="form-group">
              <div class="input-group text-center input-group-lg">
                <span class="input-group-addon" id="basic-addon1">
                   <i class="glyphicon glyphicon-asterisk"></i>
                </span>
                  <input type="password"
                         class="form-control"
                         placeholder="Paswoord"
                         ng-model="password"></input>
              </div>
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-default btn-lg btn-block">Log in</button>
            </div>
                <a href="/SignUp">Registreer</a>

        </form>


</div>

</section>
