<div class="page-header" method="post">
           <h1>Leerling</h1>
       </div>
       <a href="/"  class="btn btn-primary">Home</a>
       <form ng-submit="InlogLeerling(data)"
             style="margin-top:30px;">

           <div class="form-group">
               <input type="text"
                      class="form-control"
                      placeholder="Token"
                      ng-model="data.token"></input>
           </div>
           <div class="form-group">
               <input type="text"
                      class="form-control"
                      placeholder="Voornaam"
                      ng-model="data.voornaam"></input>
           </div>
           <div class="form-group">
               <input type="text"
                      class="form-control"
                      placeholder="Achternaam"
                      ng-model="data.achternaam"></input>
           </div>
           <button type="submit" class="btn btn-primary">Log in</button>
       </form>
