
body{

  background-repeat: no-repeat;
  background-position: center bottom;

}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  /* fixed height */
  height: 80px;
  text-align: center;
  background:url("/img/FooterImg.png");
  background-repeat: repeat-x;
  background-position: bottom;

}

.login-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 50px;

}

.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
