<section  ng-controller="LeerlingPresentatieMultiController">
<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 login-form-bg">

  <form class="form-inline">

      <div class="form-group"  >

        <h1>{{vraag.vraag}}</h1>
          <label>multi</label>
          <div ng-repeat="opl in vraag.oplossingen" >
            <input class="form-control" type="radio" ng-model="$parent.antwoord" name="oplossingen" value="{{opl.oplossing}}" >{{opl.oplossing}}
          </div>
          <button ng-click="addAntwoord()" class="btn btn-default btn-sm"> Voeg toe</button>

        </div>

    </form>

</div>





<div growl></div>
</section>
